.danh-mc-sn-phm-theo-loi .ellipse-11 {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15), inset 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 120px;
  height: 120px;
}
.danh-mc-sn-phm-theo-loi .our-products-2 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-42 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14.9px 13.2px 13.7px 14.2px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .news-promotion {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-43 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 1px 2.1px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .visit-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .visit {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 2.3px 11.6px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .navbar-left {
  border-radius: 2px;
  margin-bottom: 4.4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .about-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-44 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0 15px 0;
  width: 163px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-5 {
  border: 1px solid #7C7C7C;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  width: 246px;
  height: 40px;
}
.danh-mc-sn-phm-theo-loi .ionsearch-circle {
  width: 40px;
  height: 40px;
}
.danh-mc-sn-phm-theo-loi .frame-2 {
  margin: 10px 8px 4px 0;
  display: flex;
  flex-direction: row;
  width: 294px;
  height: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .carbonuser-avatar-filled-alt {
  margin-right: 12px;
  width: 37px;
  height: 37px;
}
.danh-mc-sn-phm-theo-loi .vector-12 {
  width: 33px;
  height: 33px;
}
.danh-mc-sn-phm-theo-loi .elshopping-cart-sign {
  margin: 1px 0 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .frame-3 {
  margin: 12px 0 5px 0;
  display: flex;
  flex-direction: row;
  width: 82px;
  height: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .navbar-right {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .frame-75 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 52px 11px 82px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .logo-no-background-21 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  translate: -50% 0;
  width: 145px;
  height: 102.5px;
}
.danh-mc-sn-phm-theo-loi .header {
  position: relative;
  margin-bottom: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 21px;
  width: 1440px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .recommended {
  margin-right: 21.7px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 29px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .vector-8 {
  width: 16.3px;
  height: 9.6px;
}
.danh-mc-sn-phm-theo-loi .material-symbolskeyboard-arrow-down-rounded {
  margin: 15.3px 0 11.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16.3px;
  height: 9.6px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-72 {
  border: 1px solid #525050;
  position: relative;
  margin-bottom: 62px;
  display: flex;
  flex-direction: row;
  padding: 15px 17.4px 15px 13.3px;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .filter-by {
  margin-right: 20px;
  width: 228.7px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 32px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .clear-all {
  margin: 12px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  color: #AAAAAA;
}
.danh-mc-sn-phm-theo-loi .container-3 {
  margin: 0 7.2px 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 323.3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .line-36 {
  background: #AAAAAA;
  margin: 0 0 9px 0.5px;
  width: 330px;
  height: 1px;
}
.danh-mc-sn-phm-theo-loi .flavour {
  margin-right: 16.5px;
  width: 267.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 26px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .vector-9 {
  width: 16.3px;
  height: 9.6px;
}
.danh-mc-sn-phm-theo-loi .material-symbolskeyboard-arrow-up-rounded {
  margin: 11.3px 0 12.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16.3px;
  height: 9.6px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300.6px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .blueberry {
  margin: 0 22px 6px 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #858484;
}
.danh-mc-sn-phm-theo-loi .caramel {
  margin: 0 21px 5px 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #858484;
}
.danh-mc-sn-phm-theo-loi .red-velvet {
  margin: 0 22px 5px 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #858484;
}
.danh-mc-sn-phm-theo-loi .vanilla {
  margin: 0 22px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #858484;
}
.danh-mc-sn-phm-theo-loi .group-70 {
  margin: 0 0.5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .line-37 {
  background: #AAAAAA;
  margin: 0 0 9px 0.5px;
  width: 330px;
  height: 1px;
}
.danh-mc-sn-phm-theo-loi .size {
  margin-right: 16.5px;
  width: 267.6px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 26px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .vector-10 {
  width: 16.3px;
  height: 9.6px;
}
.danh-mc-sn-phm-theo-loi .material-symbolskeyboard-arrow-up-rounded-1 {
  margin: 10.3px 0 13.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16.3px;
  height: 9.6px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .container {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300.3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .inch {
  margin: 0 21.7px 5px 21.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #858484;
}
.danh-mc-sn-phm-theo-loi .inch-1 {
  margin: 0 22.7px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #858484;
}
.danh-mc-sn-phm-theo-loi .group-71 {
  margin: 0 0.8px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .filter {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  margin: 0 136px 443.5px 0;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 4px 27.5px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-63 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle61.png');
  margin-bottom: 11.5px;
  width: 230px;
  height: 234.5px;
}
.danh-mc-sn-phm-theo-loi .key-lime-cheesecake {
  margin: 0 22.6px 10px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-1 {
  margin: 0 16.2px 3.8px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .starting-at-1500 {
  margin: 0 4px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .product-hover-1 {
  border-radius: 5px;
  background: #F9F9F9;
  position: relative;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  padding: 3px 0 0.4px 3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-66 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle624.png') 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 233.1px;
  height: 214.9px;
}
.danh-mc-sn-phm-theo-loi .orange-creamsicle-cheesecake-bars {
  margin: 0 15.5px 10.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-4 {
  margin: 0 23.2px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .starting-at-900 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .product-hover-2 {
  margin: 0 28px 0.1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-64 {
  position: absolute;
  left: -4px;
  top: 0px;
  width: 234px;
  height: 216.4px;
}
.danh-mc-sn-phm-theo-loi .peach-cobbler-topped-cheesecake {
  position: relative;
  margin-bottom: 45.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .starting-at-15001 {
  position: relative;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-2 {
  position: absolute;
  left: -4px;
  bottom: 20.7px;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .product-hover-3 {
  position: relative;
  margin-bottom: 0.1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 233px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .container-4 {
  margin-bottom: 43.9px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-62 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle69.png') 50% / cover no-repeat;
  margin: 0 0 9.9px 2.8px;
  width: 230.2px;
  height: 213.7px;
}
.danh-mc-sn-phm-theo-loi .rich-chocolate-cheesecake {
  margin-bottom: 13.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue {
  margin-bottom: 4.6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .starting-at-3200 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .hover-pic-1 {
  background: #FFFFFF;
  margin: 0 27px 1.5px 0;
  display: flex;
  flex-direction: column;
  padding-right: 0px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-65 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle629.png');
  margin-bottom: 10.2px;
  width: 237px;
  height: 212.8px;
}
.danh-mc-sn-phm-theo-loi .chocolate-cheesecake {
  margin-bottom: 13.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-3 {
  margin-bottom: 4.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .starting-at-2700 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .hover-pic-2 {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-67 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle61.png');
  margin-bottom: 11.5px;
  width: 230px;
  height: 234.5px;
}
.danh-mc-sn-phm-theo-loi .key-lime-cheesecake-1 {
  margin: 0 22.6px 10px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-5 {
  margin: 0 16.2px 3.8px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .starting-at-15002 {
  margin: 0 4px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .hover-pic-3 {
  border-radius: 5px;
  background: #F9F9F9;
  position: relative;
  margin-bottom: 1.3px;
  display: flex;
  flex-direction: column;
  padding: 3px 0 0.4px 3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .container-5 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .frame-39 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .container-2 {
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .product-list {
  opacity: 0.9;
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 34px 83px 67.5px 88px;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .our-products {
  margin: 0 2px 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 42px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .for-more-than-5-years-pastricia-has-been-making-favorite-baked-goods-the-old-fashioned-way-from-scratch-in-small-batches-and-using-the-finest-ingredients {
  margin: 0 2px 60px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.611;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .rectangle-10 {
  border-radius: 5px;
  background: url('../assets/images/rectangle10.png') 50% / cover no-repeat;
  margin-bottom: 14px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .donuts {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-1 {
  position: absolute;
  right: -1603px;
  bottom: -3.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 239px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .cheesecakes-2 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-2 {
  border-radius: 5px;
  background: url('../assets/images/rectangle8.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -1374px;
  width: 200px;
  height: 200.3px;
}
.danh-mc-sn-phm-theo-loi .choux-creams {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-3 {
  border-radius: 5px;
  background: url('../assets/images/rectangle101.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -1145px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .cakes {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-4 {
  border-radius: 5px;
  background: url('../assets/images/rectangle9.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -916px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .cupcakes {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .rectangle-25 {
  border-radius: 5px;
  background: url('../assets/images/rectangle25.png') 50% / cover no-repeat;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .container-5 {
  position: absolute;
  top: 0px;
  right: -687px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-6 {
  border-radius: 5px;
  background: url('../assets/images/rectangle622.png') 50% / cover no-repeat;
  margin-bottom: 10.1px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .cookies {
  margin-right: 0.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-6 {
  position: absolute;
  right: -458px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 235.1px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .donuts-1 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-7 {
  border-radius: 5px;
  background: url('../assets/images/rectangle10.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -229px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .rectangle-61 {
  border-radius: 5px;
  background: url('../assets/images/rectangle622.png') 50% / cover no-repeat;
  margin-bottom: 10.1px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .cookies-1 {
  margin-right: 0.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .cupcakes-1 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .rectangle-251 {
  border-radius: 5px;
  background: url('../assets/images/rectangle25.png') 50% / cover no-repeat;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .container-11 {
  position: relative;
  margin-bottom: 35.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .cheesecakes-3 {
  position: absolute;
  left: 50%;
  bottom: -34.7px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-10 {
  border-radius: 5px;
  background: url('../assets/images/rectangle8.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 34.8px;
  width: 200px;
  height: 200.3px;
}
.danh-mc-sn-phm-theo-loi .rectangle-91 {
  border-radius: 5px;
  background: url('../assets/images/rectangle9.png') 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .cakes-1 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-9 {
  margin-bottom: 0.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .choux-creams-1 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .container-8 {
  border-radius: 5px;
  background: url('../assets/images/rectangle101.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 35.1px;
  width: 200px;
  height: 200px;
}
.danh-mc-sn-phm-theo-loi .slider-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 29px;
  width: 1116px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .types-of-cakes {
  background: #D6AFCD;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 48px 45.9px 48px;
  width: 1441px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-9061 {
  background: url('../assets/images/group9061.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.danh-mc-sn-phm-theo-loi .join-our-newsletter {
  position: relative;
  margin: 0 2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 52px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .get-the-freshest-pastricia-updates-and-offers-right-to-your-inbox-plus-enjoy-10-off-on-your-birthday-when-you-share-the-date-with-us {
  position: relative;
  margin-bottom: 42px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .enter-your-email-address {
  margin-right: 19px;
  width: 680px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 30px;
  color: #6C6C6C;
}
.danh-mc-sn-phm-theo-loi .vector-7 {
  width: 32.4px;
  height: 31.6px;
}
.danh-mc-sn-phm-theo-loi .material-symbolsarrow-forward-rounded {
  margin: 0.2px 0 6.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.4px;
  height: 31.6px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-12 {
  border-radius: 10px;
  border: 1px solid #7C7C7C;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 19.2px 18px 19.3px;
  width: 770px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .join-us {
  background: #D7D7D7;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 143px 0;
  width: 1440px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .bp-flight-1768-x-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../assets/images/bpFlight1768X1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -33px;
  top: 0px;
  width: 1494px;
  height: 615px;
}
.danh-mc-sn-phm-theo-loi .ellipse-1 {
  position: relative;
  width: 165.5px;
  height: 165px;
}
.danh-mc-sn-phm-theo-loi .logo-no-background-2 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 11.7px;
  translate: -50% 0;
  width: 200px;
  height: 141px;
}
.danh-mc-sn-phm-theo-loi .logo {
  position: relative;
  margin-bottom: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding: 0 17.9px 0 16.6px;
  width: 200px;
  height: 165px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .careers {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-17 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .gift-cards {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-18 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .subscriptions {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-22 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .frame-15 {
  position: relative;
  margin: 0 214px 135px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .policy {
  margin-bottom: 17px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .general-policies-and-regulations {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-171 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .transaction-and-payment-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-181 {
  margin: 0 0.9px 23px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .return-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-191 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-20 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .shipping-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-221 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .frame-17 {
  position: relative;
  margin: 128px 164.4px 80px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .have-aquestion {
  margin: 0 16.1px 14px 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .were-always-here-to-lend-ahelping-hand {
  margin: 0 7px 27.5px 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .vector {
  width: 24.5px;
  height: 22.2px;
}
.danh-mc-sn-phm-theo-loi .icround-home {
  margin: 0 13.7px 6.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24.5px;
  height: 22.2px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .district-7-ho-chi-minh-city {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-13 {
  margin: 0 14px 23.3px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .vector-1 {
  width: 17.5px;
  height: 29.3px;
}
.danh-mc-sn-phm-theo-loi .material-symbolsphone-android {
  margin-right: 14.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 17.5px;
  height: 29.3px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .container {
  margin: 3.7px 0 0.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-14 {
  margin: 0 3.5px 23.3px 3.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .vector-2 {
  width: 25px;
  height: 20px;
}
.danh-mc-sn-phm-theo-loi .material-symbolsmail {
  margin: 4px 12.5px 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .pastriciabakerygmail-com {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .group-15 {
  margin-left: 0.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-16 {
  margin: 0 0 25px 2.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .line-27 {
  background: #525050;
  margin: 0 1.3px 17px 0;
  width: 304px;
  height: 1px;
}
.danh-mc-sn-phm-theo-loi .vector-6 {
  width: 48px;
  height: 45px;
}
.danh-mc-sn-phm-theo-loi .vector-3 {
  width: 48px;
  height: 45px;
}
.danh-mc-sn-phm-theo-loi .vector-4 {
  width: 48px;
  height: 45px;
}
.danh-mc-sn-phm-theo-loi .vector-5 {
  width: 48px;
  height: 45px;
}
.danh-mc-sn-phm-theo-loi .media {
  margin: 0 0.9px 0 3.3px;
  display: flex;
  flex-direction: row;
  column-gap: 36.3px;
  width: 301.1px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .frame-16 {
  position: relative;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .footer {
  background: #EEEEEE;
  position: relative;
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  padding: 58px 105.7px 79px 93px;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-75 {
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1441px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-29 {
  background: url('../assets/images/rectangle29.png');
  position: absolute;
  top: 0px;
  right: -20px;
  width: 740px;
  height: 366px;
}
.danh-mc-sn-phm-theo-loi .our-products-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 18px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .line-34 {
  background: #525050;
  position: absolute;
  right: 0px;
  bottom: 1px;
  width: 149px;
  height: 1px;
}
.danh-mc-sn-phm-theo-loi .group-66 {
  position: relative;
  margin: 1.1px 11.9px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 0.7px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .vector-11 {
  width: 12.6px;
  height: 22.1px;
}
.danh-mc-sn-phm-theo-loi .material-symbolsarrow-forward-ios-rounded {
  margin: 0 11.5px 1.9px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 12.6px;
  height: 22.1px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .cheesecakes {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 18px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .line-35 {
  background: #525050;
  position: absolute;
  right: 0px;
  bottom: 1px;
  width: 107px;
  height: 1px;
}
.danh-mc-sn-phm-theo-loi .group-67 {
  position: relative;
  margin-top: 1.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 2px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .group-73 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .cheesecakes-1 {
  margin-bottom: 27px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 58px;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-facilisis-consequat-pretium-in-eu-pharetra-massa-pellentesque-habitant-morbi-tristique-senectus-et-netus-et-malesuada-fames-ac-turpis-egestas-integer {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #525050;
}
.danh-mc-sn-phm-theo-loi .carousel {
  background: #D6AFCD;
  position: absolute;
  left: 0px;
  top: 105px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding: 36.9px 0 63px 35px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi .rectangle-3 {
  border: 1px solid #AAAAAA;
  width: 1440px;
  height: 105px;
}
.danh-mc-sn-phm-theo-loi .header-1 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
  height: 105px;
  box-sizing: border-box;
}
.danh-mc-sn-phm-theo-loi {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
