.ti-khon .rectangle-3 {
  border: 1px solid #AAAAAA;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 105px;
}
.ti-khon .our-products {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.ti-khon .group-42 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14.9px 13.2px 13.7px 14.2px;
  box-sizing: border-box;
}
.ti-khon .news-promotion {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.ti-khon .group-43 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 1px 2.1px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.ti-khon .visit-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.ti-khon .visit {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 2.3px 11.6px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.ti-khon .navbar-left {
  border-radius: 2px;
  margin-bottom: 4.4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ti-khon .about-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.ti-khon .group-44 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0 15px 0;
  width: 163px;
  box-sizing: border-box;
}
.ti-khon .rectangle-5 {
  border: 1px solid #7C7C7C;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  width: 246px;
  height: 40px;
}
.ti-khon .ionsearch-circle {
  width: 40px;
  height: 40px;
}
.ti-khon .frame-2 {
  margin: 10px 8px 4px 0;
  display: flex;
  flex-direction: row;
  width: 294px;
  height: fit-content;
  box-sizing: border-box;
}
.ti-khon .carbonuser-avatar-filled-alt {
  margin-right: 12px;
  width: 37px;
  height: 37px;
}
.ti-khon .vector-8 {
  width: 33px;
  height: 33px;
}
.ti-khon .elshopping-cart-sign {
  margin: 1px 0 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
}
.ti-khon .frame-3 {
  margin: 12px 0 5px 0;
  display: flex;
  flex-direction: row;
  width: 82px;
  height: fit-content;
  box-sizing: border-box;
}
.ti-khon .navbar-right {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: fit-content;
  box-sizing: border-box;
}
.ti-khon .header-while {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 52px 30px 82px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.ti-khon .ellipse-11 {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15), inset 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 120px;
  height: 120px;
}
.ti-khon .logo-no-background-21 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  translate: -50% 0;
  width: 145px;
  height: 102.5px;
}
.ti-khon .logo-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.ti-khon .header {
  position: relative;
  margin-bottom: 142px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
  box-sizing: border-box;
}
.ti-khon .my-account {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 48px;
  color: #525050;
}
.ti-khon .group-5 {
  background: #E6CFE1;
  position: absolute;
  left: -40px;
  top: -140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 31px 0 29px 0.2px;
  width: 1440px;
  height: 120px;
  box-sizing: border-box;
}
.ti-khon .order-history-2 {
  margin-right: 17.5px;
  width: 254.5px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 28px;
  text-decoration-line: underline;
  color: #525050;
}
.ti-khon .back-to {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 28px;
  color: #525050;
}
.ti-khon .manage-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.ti-khon .log-out {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 28px;
  color: #525050;
}
.ti-khon .logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.ti-khon .group-6 {
  margin: 0 46.1px 29px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 706.9px;
  box-sizing: border-box;
}
.ti-khon .order-history-1 {
  margin: 0 1px 15px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 44px;
  color: #525050;
}
.ti-khon .date {
  margin-right: 19px;
  width: 351.4px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 30px;
  color: #525050;
}
.ti-khon .order {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 30px;
  color: #525050;
}
.ti-khon .total {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 30px;
  color: #525050;
}
.ti-khon .status {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 30px;
  color: #525050;
}
.ti-khon .group-62 {
  border: 2px solid #525050;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 83.8px 10px 91.9px;
  width: 1361.1px;
  box-sizing: border-box;
}
.ti-khon .container-1 {
  margin-right: 15px;
  width: 384.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .o-1021 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .container-2 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .confirmed {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  color: #2D9209;
}
.ti-khon .group-7 {
  margin: 0 66.1px 32px 63.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1231.4px;
  box-sizing: border-box;
}
.ti-khon .container-3 {
  margin-right: 15px;
  width: 381.3px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .o-1020 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .container-4 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .delivered {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  color: #2D9209;
}
.ti-khon .group-63 {
  margin: 0 71.6px 0 64.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1224.9px;
  box-sizing: border-box;
}
.ti-khon .container-5 {
  margin-right: 15px;
  width: 386.3px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .o-1019 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .container-6 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 24px;
  color: #525050;
}
.ti-khon .cancel {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  color: #920909;
}
.ti-khon .container {
  border: 2px solid #000000;
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 196px 87.6px 146px 63.5px;
  box-sizing: border-box;
}
.ti-khon .line-31 {
  background: #000000;
  position: absolute;
  left: 0px;
  top: 116.1px;
  right: 1px;
  height: 2px;
}
.ti-khon .line-32 {
  background: #000000;
  position: absolute;
  left: 0px;
  top: 178.1px;
  right: 1px;
  height: 2px;
}
.ti-khon .line-33 {
  background: #000000;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 130px;
  height: 2px;
}
.ti-khon .group-78 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1px 208px 1px;
  width: 1363px;
  box-sizing: border-box;
}
.ti-khon .order-history {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .profile {
  position: relative;
  margin: 0 37px 34px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .group-9061 {
  background: url('../assets/images/group9061.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.ti-khon .join-our-newsletter {
  position: relative;
  margin: 0 2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 52px;
  color: #525050;
}
.ti-khon .get-the-freshest-pastricia-updates-and-offers-right-to-your-inbox-plus-enjoy-10-off-on-your-birthday-when-you-share-the-date-with-us {
  position: relative;
  margin-bottom: 42px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #525050;
}
.ti-khon .enter-your-email-address {
  margin-right: 19px;
  width: 680px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 30px;
  color: #6C6C6C;
}
.ti-khon .vector-7 {
  width: 32.4px;
  height: 31.6px;
}
.ti-khon .material-symbolsarrow-forward-rounded {
  margin: 0.2px 0 6.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.4px;
  height: 31.6px;
  box-sizing: border-box;
}
.ti-khon .group-12 {
  border-radius: 10px;
  border: 1px solid #7C7C7C;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 19.2px 18px 19.3px;
  width: 770px;
  box-sizing: border-box;
}
.ti-khon .join-us {
  background: #D7D7D7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 143px 0;
  width: 1440px;
  box-sizing: border-box;
}
.ti-khon .bp-flight-1768-x-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../assets/images/bpFlight1768X1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -33px;
  top: 0px;
  width: 1494px;
  height: 615px;
}
.ti-khon .ellipse-1 {
  position: relative;
  width: 165.5px;
  height: 165px;
}
.ti-khon .logo-no-background-2 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 11.7px;
  translate: -50% 0;
  width: 200px;
  height: 141px;
}
.ti-khon .logo {
  position: relative;
  margin-bottom: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding: 0 17.9px 0 16.6px;
  width: 200px;
  height: 165px;
  box-sizing: border-box;
}
.ti-khon .careers {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.ti-khon .group-17 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ti-khon .gift-cards {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.ti-khon .group-18 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ti-khon .subscriptions {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.ti-khon .group-19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.ti-khon .group-22 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .frame-15 {
  position: relative;
  margin: 0 214px 135px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.ti-khon .policy {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.ti-khon .general-policies-and-regulations {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.ti-khon .group-171 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.ti-khon .transaction-and-payment-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.ti-khon .group-181 {
  margin: 0 0.9px 23px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.ti-khon .return-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.ti-khon .group-191 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ti-khon .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.ti-khon .group-20 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ti-khon .shipping-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.ti-khon .group-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ti-khon .group-221 {
  position: absolute;
  right: -153.5px;
  bottom: -225px;
  display: flex;
  flex-direction: column;
  width: 298.6px;
  height: 208px;
  box-sizing: border-box;
}
.ti-khon .frame-17 {
  position: relative;
  margin: 128px 317.9px 305px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.ti-khon .have-aquestion {
  margin: 0 16.1px 14px 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.ti-khon .were-always-here-to-lend-ahelping-hand {
  margin: 0 7px 27.5px 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 20px;
  color: #525050;
}
.ti-khon .vector {
  width: 24.5px;
  height: 22.2px;
}
.ti-khon .icround-home {
  margin: 0 13.7px 6.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24.5px;
  height: 22.2px;
  box-sizing: border-box;
}
.ti-khon .district-7-ho-chi-minh-city {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.ti-khon .group-13 {
  margin: 0 14px 23.3px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .vector-1 {
  width: 17.5px;
  height: 29.3px;
}
.ti-khon .material-symbolsphone-android {
  margin-right: 14.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 17.5px;
  height: 29.3px;
  box-sizing: border-box;
}
.ti-khon .container {
  margin: 3.7px 0 0.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.ti-khon .group-14 {
  margin: 0 3.5px 23.3px 3.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .vector-2 {
  width: 25px;
  height: 20px;
}
.ti-khon .material-symbolsmail {
  margin: 4px 12.5px 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.ti-khon .pastriciabakerygmail-com {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.ti-khon .group-15 {
  margin-left: 0.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .group-16 {
  margin: 0 0 25px 2.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.ti-khon .line-27 {
  background: #525050;
  margin: 0 1.3px 17px 0;
  width: 304px;
  height: 1px;
}
.ti-khon .vector-6 {
  width: 48px;
  height: 45px;
}
.ti-khon .vector-3 {
  width: 48px;
  height: 45px;
}
.ti-khon .vector-4 {
  width: 48px;
  height: 45px;
}
.ti-khon .vector-5 {
  width: 48px;
  height: 45px;
}
.ti-khon .media {
  margin: 0 0.9px 0 3.3px;
  display: flex;
  flex-direction: row;
  column-gap: 36.3px;
  width: 301.1px;
  box-sizing: border-box;
}
.ti-khon .frame-16 {
  position: relative;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.ti-khon .footer {
  background: #EEEEEE;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  padding: 58px 105.7px 79px 93px;
  width: 1440px;
  box-sizing: border-box;
}
.ti-khon {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
