.thng-tin-cnhn .rectangle-3 {
  border: 1px solid #AAAAAA;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 105px;
}
.thng-tin-cnhn .ellipse-11 {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15), inset 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 120px;
  height: 120px;
}
.thng-tin-cnhn .our-products {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.thng-tin-cnhn .group-42 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14.9px 13.2px 13.7px 14.2px;
  box-sizing: border-box;
}
.thng-tin-cnhn .news-promotion {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.thng-tin-cnhn .group-43 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 1px 2.1px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.thng-tin-cnhn .visit-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.thng-tin-cnhn .visit {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 2.3px 11.6px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.thng-tin-cnhn .navbar-left {
  border-radius: 2px;
  margin-bottom: 4.4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.thng-tin-cnhn .about-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.thng-tin-cnhn .group-44 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0 15px 0;
  width: 163px;
  box-sizing: border-box;
}
.thng-tin-cnhn .rectangle-5 {
  border: 1px solid #7C7C7C;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  width: 246px;
  height: 40px;
}
.thng-tin-cnhn .ionsearch-circle {
  width: 40px;
  height: 40px;
}
.thng-tin-cnhn .frame-2 {
  margin: 10px 8px 4px 0;
  display: flex;
  flex-direction: row;
  width: 294px;
  height: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .carbonuser-avatar-filled-alt {
  margin-right: 12px;
  width: 37px;
  height: 37px;
}
.thng-tin-cnhn .vector-10 {
  width: 33px;
  height: 33px;
}
.thng-tin-cnhn .elshopping-cart-sign {
  margin: 1px 0 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
}
.thng-tin-cnhn .frame-3 {
  margin: 12px 0 5px 0;
  display: flex;
  flex-direction: row;
  width: 82px;
  height: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .navbar-right {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .frame-75 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 52px 11px 82px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .logo-no-background-21 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  translate: -50% 0;
  width: 145px;
  height: 102.5px;
}
.thng-tin-cnhn .header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 21px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .header-1 {
  position: relative;
  margin-bottom: 142px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
  box-sizing: border-box;
}
.thng-tin-cnhn .my-account {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 48px;
  color: #525050;
}
.thng-tin-cnhn .group-5 {
  background: #E6CFE1;
  position: absolute;
  top: -140px;
  right: -388.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 31px 0 29px 0.2px;
  width: 1440px;
  height: 120px;
  box-sizing: border-box;
}
.thng-tin-cnhn .order-history-1 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 28px;
  color: #525050;
}
.thng-tin-cnhn .order-history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.thng-tin-cnhn .manage-account {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 28px;
  text-decoration-line: underline;
  color: #525050;
}
.thng-tin-cnhn .log-out {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 28px;
  color: #525050;
}
.thng-tin-cnhn .logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-6 {
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 706.9px;
  box-sizing: border-box;
}
.thng-tin-cnhn .manage-account-1 {
  margin-bottom: 28px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 44px;
  color: #525050;
}
.thng-tin-cnhn .first-name {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 24px;
  color: #525050;
}
.thng-tin-cnhn .firstname {
  border-radius: 5px;
  border: 1px solid #525050;
  margin-right: 40.8px;
  padding: 15px 18px 21.3px 18px;
  width: 413px;
  box-sizing: border-box;
}
.thng-tin-cnhn .last-name {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 24px;
  color: #525050;
}
.thng-tin-cnhn .lastname {
  border-radius: 5px;
  border: 1px solid #525050;
  padding: 18px 13.1px 18.3px 13.1px;
  width: 413px;
  box-sizing: border-box;
}
.thng-tin-cnhn .container {
  margin: 0 0px 27.3px 1.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .email-1 {
  margin: 0 15px 2.4px 0;
  display: inline-block;
  width: 787.1px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 24px;
  color: #525050;
}
.thng-tin-cnhn .vector-1 {
  width: 26.3px;
  height: 29.2px;
}
.thng-tin-cnhn .material-symbolscalendar-month {
  margin-top: 3.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 26.3px;
  height: 29.2px;
  box-sizing: border-box;
}
.thng-tin-cnhn .email {
  border-radius: 5px;
  border: 1px solid #525050;
  margin: 0 0 27.3px 1.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 21.4px 18.9px 15px;
  width: 866.8px;
  box-sizing: border-box;
}
.thng-tin-cnhn .birthday {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  color: #525050;
}
.thng-tin-cnhn .birth {
  border-radius: 5px;
  border: 1px solid #525050;
  margin: 0 1.2px 27.2px 0;
  padding: 15px 12.2px 21.3px 12.2px;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .password {
  margin: 0 15px 2.7px 0;
  display: inline-block;
  width: 785.7px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-size: 24px;
  color: #525050;
}
.thng-tin-cnhn .vector {
  width: 36.7px;
  height: 25px;
}
.thng-tin-cnhn .icbaseline-remove-red-eye {
  margin-top: 7.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 36.7px;
  height: 25px;
  box-sizing: border-box;
}
.thng-tin-cnhn .pw {
  border-radius: 5px;
  border: 1px solid #525050;
  margin-right: 1.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 14.5px 18.5px 13px;
  width: 866.8px;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-4 {
  border-radius: 5px;
  margin: 0 5px 49px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .change-password {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  color: #525050;
}
.thng-tin-cnhn .group-8 {
  border-radius: 5px;
  border: 2px solid #525050;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px 16.6px 12px 16px;
  box-sizing: border-box;
}
.thng-tin-cnhn .form {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25), inset 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #FFFFFF;
  margin-right: 33.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 75px 54px 44px 51px;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .profile {
  position: relative;
  margin: 0 40px 48px 40px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-9061 {
  background: url('../assets/images/group9061.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.thng-tin-cnhn .join-our-newsletter {
  position: relative;
  margin: 0 2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 52px;
  color: #525050;
}
.thng-tin-cnhn .get-the-freshest-pastricia-updates-and-offers-right-to-your-inbox-plus-enjoy-10-off-on-your-birthday-when-you-share-the-date-with-us {
  position: relative;
  margin-bottom: 42px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #525050;
}
.thng-tin-cnhn .enter-your-email-address {
  margin-right: 19px;
  width: 680px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 30px;
  color: #6C6C6C;
}
.thng-tin-cnhn .vector-9 {
  width: 32.4px;
  height: 31.6px;
}
.thng-tin-cnhn .material-symbolsarrow-forward-rounded {
  margin: 0.2px 0 6.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.4px;
  height: 31.6px;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-12 {
  border-radius: 10px;
  border: 1px solid #7C7C7C;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 19.2px 18px 19.3px;
  width: 770px;
  box-sizing: border-box;
}
.thng-tin-cnhn .join-us {
  background: #D7D7D7;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 143px 0;
  width: 1440px;
  box-sizing: border-box;
}
.thng-tin-cnhn .bp-flight-1768-x-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../assets/images/bpFlight1768X1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -33px;
  top: 0px;
  width: 1494px;
  height: 615px;
}
.thng-tin-cnhn .ellipse-1 {
  position: relative;
  width: 165.5px;
  height: 165px;
}
.thng-tin-cnhn .logo-no-background-2 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 11.7px;
  translate: -50% 0;
  width: 200px;
  height: 141px;
}
.thng-tin-cnhn .logo {
  position: relative;
  margin-bottom: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding: 0 17.9px 0 16.6px;
  width: 200px;
  height: 165px;
  box-sizing: border-box;
}
.thng-tin-cnhn .careers {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.thng-tin-cnhn .group-17 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.thng-tin-cnhn .gift-cards {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.thng-tin-cnhn .group-18 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.thng-tin-cnhn .subscriptions {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.thng-tin-cnhn .group-19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-22 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .frame-15 {
  position: relative;
  margin: 0 214px 135px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.thng-tin-cnhn .policy {
  margin-bottom: 17px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.thng-tin-cnhn .general-policies-and-regulations {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.thng-tin-cnhn .group-171 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.thng-tin-cnhn .transaction-and-payment-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.thng-tin-cnhn .group-181 {
  margin: 0 0.9px 23px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.thng-tin-cnhn .return-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.thng-tin-cnhn .group-191 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.thng-tin-cnhn .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.thng-tin-cnhn .group-20 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.thng-tin-cnhn .shipping-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.thng-tin-cnhn .group-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-221 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .frame-17 {
  position: relative;
  margin: 128px 164.4px 80px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.thng-tin-cnhn .have-aquestion {
  margin: 0 16.1px 14px 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.thng-tin-cnhn .were-always-here-to-lend-ahelping-hand {
  margin: 0 7px 27.5px 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 20px;
  color: #525050;
}
.thng-tin-cnhn .vector-2 {
  width: 24.5px;
  height: 22.2px;
}
.thng-tin-cnhn .icround-home {
  margin: 0 13.7px 6.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24.5px;
  height: 22.2px;
  box-sizing: border-box;
}
.thng-tin-cnhn .district-7-ho-chi-minh-city {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.thng-tin-cnhn .group-13 {
  margin: 0 14px 23.3px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .vector-3 {
  width: 17.5px;
  height: 29.3px;
}
.thng-tin-cnhn .material-symbolsphone-android {
  margin-right: 14.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 17.5px;
  height: 29.3px;
  box-sizing: border-box;
}
.thng-tin-cnhn .container {
  margin: 3.7px 0 0.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.thng-tin-cnhn .group-14 {
  margin: 0 3.5px 23.3px 3.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .vector-4 {
  width: 25px;
  height: 20px;
}
.thng-tin-cnhn .material-symbolsmail {
  margin: 4px 12.5px 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.thng-tin-cnhn .pastriciabakerygmail-com {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.thng-tin-cnhn .group-15 {
  margin-left: 0.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .group-16 {
  margin: 0 0 25px 2.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.thng-tin-cnhn .line-27 {
  background: #525050;
  margin: 0 1.3px 17px 0;
  width: 304px;
  height: 1px;
}
.thng-tin-cnhn .vector-8 {
  width: 48px;
  height: 45px;
}
.thng-tin-cnhn .vector-5 {
  width: 48px;
  height: 45px;
}
.thng-tin-cnhn .vector-6 {
  width: 48px;
  height: 45px;
}
.thng-tin-cnhn .vector-7 {
  width: 48px;
  height: 45px;
}
.thng-tin-cnhn .media {
  margin: 0 0.9px 0 3.3px;
  display: flex;
  flex-direction: row;
  column-gap: 36.3px;
  width: 301.1px;
  box-sizing: border-box;
}
.thng-tin-cnhn .frame-16 {
  position: relative;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.thng-tin-cnhn .footer {
  background: #EEEEEE;
  position: relative;
  margin-right: 2px;
  display: flex;
  flex-direction: row;
  padding: 58px 105.7px 79px 93px;
  width: 1440px;
  box-sizing: border-box;
}
.thng-tin-cnhn {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
