.trang-ch-trc-khi-lgin .rectangle-27 {
  background: url('../assets/images/rectangle27.jpeg');
  position: absolute;
  top: -1px;
  right: -4611px;
  width: 1440px;
  height: 675px;
}
.trang-ch-trc-khi-lgin .rectangle-28 {
  background: url('../assets/images/rectangle28.png');
  position: absolute;
  top: -1px;
  right: -3074px;
  width: 1440px;
  height: 675px;
}
.trang-ch-trc-khi-lgin .rectangle-29 {
  background: url('../assets/images/rectangle291.png');
  position: absolute;
  top: -1px;
  right: -1537px;
  width: 1440px;
  height: 675px;
}
.trang-ch-trc-khi-lgin .rectangle-26 {
  background: linear-gradient(rgba(62, 61, 61, 0.2), rgba(62, 61, 61, 0.2)), url('../assets/images/rectangle26.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -1px;
  right: 0px;
  height: 675px;
}
.trang-ch-trc-khi-lgin .slide-header {
  position: absolute;
  left: 0px;
  top: 105px;
  right: 0px;
  height: 675px;
}
.trang-ch-trc-khi-lgin .rectangle-3 {
  border: 1px solid #AAAAAA;
  width: 1440px;
  height: 105px;
}
.trang-ch-trc-khi-lgin .header {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
  height: 105px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .ellipse-11 {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15), inset 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 120px;
  height: 120px;
}
.trang-ch-trc-khi-lgin .our-products-1 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-42 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14.9px 13.2px 13.7px 14.2px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .news-promotion {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-43 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 1px 2.1px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .visit-us {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .visit {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 2.3px 11.6px 0;
  width: 163.3px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .navbar-left {
  border-radius: 2px;
  margin-bottom: 4.4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .about-us-1 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 17px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-44 {
  border-radius: 2px;
  background: rgba(214, 175, 205, 0.6);
  position: relative;
  margin-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0 15px 0;
  width: 163px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-5 {
  border: 1px solid #7C7C7C;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  width: 246px;
  height: 40px;
}
.trang-ch-trc-khi-lgin .ionsearch-circle {
  width: 40px;
  height: 40px;
}
.trang-ch-trc-khi-lgin .frame-2 {
  margin: 10px 8px 4px 0;
  display: flex;
  flex-direction: row;
  width: 294px;
  height: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .carbonuser-avatar-filled-alt {
  margin-right: 12px;
  width: 37px;
  height: 37px;
}
.trang-ch-trc-khi-lgin .vector-12 {
  width: 33px;
  height: 33px;
}
.trang-ch-trc-khi-lgin .elshopping-cart-sign {
  margin: 1px 0 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .frame-3 {
  margin: 12px 0 5px 0;
  display: flex;
  flex-direction: row;
  width: 82px;
  height: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .navbar-right {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .frame-75 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 52px 11px 82px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .logo-no-background-21 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  translate: -50% 0;
  width: 145px;
  height: 102.5px;
}
.trang-ch-trc-khi-lgin .header-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 21px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container-4 {
  position: relative;
  margin-bottom: 658px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .our-products {
  margin: 0 2px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 42px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .for-more-than-5-years-pastricia-has-been-making-favorite-baked-goods-the-old-fashioned-way-from-scratch-in-small-batches-and-using-the-finest-ingredients {
  margin: 0 1px 21px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.611;
  color: #525050;
}
.trang-ch-trc-khi-lgin .view-more-2 {
  margin-right: 1.4px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .line-292 {
  background: #525050;
  margin-left: 1.6px;
  width: 122px;
  height: 2px;
}
.trang-ch-trc-khi-lgin .group-452 {
  margin: 0 0 39px 0.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-10 {
  border-radius: 5px;
  background: url('../assets/images/rectangle10.png') 50% / cover no-repeat;
  margin-bottom: 14px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .donuts {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-11 {
  position: absolute;
  right: -1603px;
  bottom: -3.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 239px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .cheesecakes {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-12 {
  border-radius: 5px;
  background: url('../assets/images/rectangle8.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -1374px;
  width: 200px;
  height: 200.3px;
}
.trang-ch-trc-khi-lgin .choux-creams {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-13 {
  border-radius: 5px;
  background: url('../assets/images/rectangle101.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -1145px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .cakes {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-14 {
  border-radius: 5px;
  background: url('../assets/images/rectangle9.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -916px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .cupcakes {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .rectangle-25 {
  border-radius: 5px;
  background: url('../assets/images/rectangle25.png') 50% / cover no-repeat;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .container-15 {
  position: absolute;
  top: 0px;
  right: -687px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-614 {
  border-radius: 5px;
  background: url('../assets/images/rectangle622.png') 50% / cover no-repeat;
  margin-bottom: 10.1px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .cookies {
  margin-right: 0.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-16 {
  position: absolute;
  right: -458px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 235.1px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .donuts-1 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-17 {
  border-radius: 5px;
  background: url('../assets/images/rectangle10.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -229px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .rectangle-615 {
  border-radius: 5px;
  background: url('../assets/images/rectangle622.png') 50% / cover no-repeat;
  margin-bottom: 10.1px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .cookies-1 {
  margin-right: 0.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .cupcakes-1 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .rectangle-251 {
  border-radius: 5px;
  background: url('../assets/images/rectangle25.png') 50% / cover no-repeat;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .container-21 {
  position: relative;
  margin-bottom: 35.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .cheesecakes-1 {
  position: absolute;
  left: 50%;
  bottom: -34.7px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-20 {
  border-radius: 5px;
  background: url('../assets/images/rectangle8.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 34.8px;
  width: 200px;
  height: 200.3px;
}
.trang-ch-trc-khi-lgin .rectangle-91 {
  border-radius: 5px;
  background: url('../assets/images/rectangle9.png') 50% / cover no-repeat;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .cakes-1 {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-19 {
  margin-bottom: 0.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .choux-creams-1 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-18 {
  border-radius: 5px;
  background: url('../assets/images/rectangle101.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 35.1px;
  width: 200px;
  height: 200px;
}
.trang-ch-trc-khi-lgin .slider-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 29px;
  width: 1116px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .types-of-cakes {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 48px 27.9px 48px;
  width: 1440px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .best-sellers-1 {
  margin-right: 1px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 42px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .from-classic-cupcakes-and-layer-cakes-to-rich-banana-pudding-our-best-sellers-are-agreat-place-to-begin-your-pastricia-experience {
  margin-bottom: 0.2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  color: #525050;
}
.trang-ch-trc-khi-lgin .view-more-1 {
  margin-right: 1.4px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .line-291 {
  background: #525050;
  margin-left: 1.6px;
  width: 122px;
  height: 2px;
}
.trang-ch-trc-khi-lgin .group-451 {
  margin-top: 22.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .vector-11 {
  width: 41.7px;
  height: 41.7px;
}
.trang-ch-trc-khi-lgin .material-symbolsarrow-circle-left-outline-rounded-1 {
  margin-right: 19.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 41.7px;
  height: 41.7px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .vector-10 {
  width: 41.7px;
  height: 41.7px;
}
.trang-ch-trc-khi-lgin .material-symbolsarrow-circle-right-outline-rounded-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 41.7px;
  height: 41.7px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-60 {
  margin-bottom: 8.2px;
  display: flex;
  flex-direction: row;
  width: 102.7px;
  height: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container-7 {
  margin: 0 4.2px 22px 4.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 709.5px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-6 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle614.png');
  margin-bottom: 11.3px;
  width: 302px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .red-velvet-craquelin-cream-puffs {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-900 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-47 {
  border-radius: 5px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-61 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle62.png');
  margin-bottom: 11.3px;
  width: 302px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .red-velvet-mini-cheesecake {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-1 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-825 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-48 {
  border-radius: 5px;
  margin-right: 31px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-63 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle619.png') 50% / cover no-repeat;
  margin-bottom: 11.3px;
  width: 302px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .tiramisu-caf {
  margin-bottom: 32px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-3 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-8000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-50 {
  border-radius: 5px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-62 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle65.png') 50% / cover no-repeat;
  margin-bottom: 11.3px;
  width: 302px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .vegan-triple-chococalte-donut {
  margin: 0 25.8px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-2 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-1800 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-49 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-40 {
  border-radius: 5px;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .best-sellers {
  background: #D6AFCD;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 68px 44px 68px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .new-products-1 {
  margin: 0 0 13.2px 2px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 42px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .view-more {
  margin-right: 1.4px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .line-29 {
  background: #525050;
  margin-left: 1.6px;
  width: 122px;
  height: 2px;
}
.trang-ch-trc-khi-lgin .group-45 {
  margin: 5.8px 0 8.8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .vector-9 {
  width: 41.7px;
  height: 41.7px;
}
.trang-ch-trc-khi-lgin .material-symbolsarrow-circle-left-outline-rounded {
  margin-right: 15.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 41.7px;
  height: 41.7px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .vector-8 {
  width: 41.7px;
  height: 41.7px;
}
.trang-ch-trc-khi-lgin .material-symbolsarrow-circle-right-outline-rounded {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 41.7px;
  height: 41.7px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-46 {
  display: flex;
  flex-direction: row;
  width: 98.7px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container-1 {
  margin: 0 2.2px 28.2px 2.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 718.5px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-64 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle63.png') 50% / cover no-repeat;
  margin-bottom: 11.7px;
  width: 250px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .holiday-candy-store-mini-cupcake-assortment {
  margin: 0 19.1px 4.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-4 {
  margin-bottom: 7.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-4500 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-65 {
  margin-bottom: 11.3px;
  width: 250px;
  height: 244px;
}
.trang-ch-trc-khi-lgin .red-velvet-peanut-butter-cookies {
  margin-bottom: 28.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-5 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-2500 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-66 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle633.png');
  margin: 0 0 11.3px 3px;
  width: 250px;
  height: 244px;
}
.trang-ch-trc-khi-lgin .strawberry-cake {
  margin-bottom: 51.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-6 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-4200 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-67 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle61.png');
  margin-bottom: 11.7px;
  width: 250px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .key-lime-cheesecake {
  margin: 0 5.9px 51.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-7 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-1500 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-68 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle68.png') 50% / cover no-repeat;
  margin-bottom: 11.7px;
  width: 250px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .mini-berry-tiramisu {
  margin: 0 17.2px 51.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-8 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-700 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-5 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-69 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle63.png') 50% / cover no-repeat;
  margin-bottom: 11.7px;
  width: 250px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .holiday-candy-store-mini-cupcake-assortment-1 {
  margin: 0 19.1px 4.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-9 {
  margin-bottom: 7.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-45001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-6 {
  position: absolute;
  top: -5px;
  right: -263px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 408.9px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-610 {
  margin-bottom: 11.3px;
  width: 250px;
  height: 244px;
}
.trang-ch-trc-khi-lgin .red-velvet-peanut-butter-cookies-1 {
  margin-bottom: 28.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-10 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-25001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-7 {
  position: absolute;
  top: -5px;
  right: -529px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 408.9px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-611 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle633.png');
  margin: 0 0 11.3px 3px;
  width: 250px;
  height: 244px;
}
.trang-ch-trc-khi-lgin .strawberry-cake-1 {
  margin-bottom: 51.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-11 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-42001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-8 {
  position: absolute;
  top: -5px;
  right: -798px;
  display: flex;
  flex-direction: column;
  width: 253px;
  height: 408.9px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-612 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle61.png');
  margin-bottom: 11.7px;
  width: 250px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .key-lime-cheesecake-1 {
  margin: 0 5.9px 51.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-12 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-15001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-9 {
  position: absolute;
  top: -5px;
  right: -1064px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 408.9px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .rectangle-613 {
  border-radius: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  background: url('../assets/images/rectangle68.png') 50% / cover no-repeat;
  margin-bottom: 11.7px;
  width: 250px;
  height: 243.7px;
}
.trang-ch-trc-khi-lgin .mini-berry-tiramisu-1 {
  margin: 0 17.2px 51.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.958;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-suscipit-diam-luctus-enim-finibus-congue-13 {
  margin-bottom: 7.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525050;
}
.trang-ch-trc-khi-lgin .starting-at-7001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-10 {
  position: absolute;
  top: -5px;
  right: -1330px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 408.9px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .slider-2 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 0 3px 1.1px 0;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .new-products {
  margin: 0 62px 14px 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .news {
  margin: 0 2px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 42px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .rectangle-11 {
  opacity: 0.02;
  border-radius: 2px;
  background: url('../assets/images/rectangle11.png') 50% / cover no-repeat;
  margin-right: 65px;
  width: 670px;
  height: 400px;
}
.trang-ch-trc-khi-lgin .image-3 {
  border-radius: 2px;
  background: url('../assets/images/image32.png') 50% / cover no-repeat;
  margin-right: 14.3px;
  width: 94.7px;
  height: 100px;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-facilisis-consequat-pretium-in-eu-pharetra-massa-pellentesque-habitant-morbi-tristique-senectus-et-netus-et-malesuada-fames-ac-turpis-egestas-integer {
  margin-left: 4px;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container {
  margin: 3px 0 2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-55 {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  padding: 7px 6.8px 8px 6px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .image-32 {
  border-radius: 2px;
  background: url('../assets/images/image3.png') 50% / cover no-repeat;
  margin-right: 14.3px;
  width: 94.7px;
  height: 100px;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-2 {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-facilisis-consequat-pretium-in-eu-pharetra-massa-pellentesque-habitant-morbi-tristique-senectus-et-netus-et-malesuada-fames-ac-turpis-egestas-integer-2 {
  margin-left: 4px;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-5 {
  margin: 3px 0 2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-57 {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  padding: 7px 6.8px 8px 6px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .image-31 {
  border-radius: 2px;
  background: url('../assets/images/image31.png');
  margin-right: 14.3px;
  width: 94.7px;
  height: 100px;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-1 {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-facilisis-consequat-pretium-in-eu-pharetra-massa-pellentesque-habitant-morbi-tristique-senectus-et-netus-et-malesuada-fames-ac-turpis-egestas-integer-1 {
  margin-left: 4px;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-2 {
  margin: 3px 0 2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-56 {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 7px 6.8px 8px 6px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .image-33 {
  border-radius: 2px;
  background: url('../assets/images/image32.png') 50% / cover no-repeat;
  margin-right: 14.3px;
  height: 100px;
  flex-grow: 1;
  flex-basis: 94.7px;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-3 {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-facilisis-consequat-pretium-in-eu-pharetra-massa-pellentesque-habitant-morbi-tristique-senectus-et-netus-et-malesuada-fames-ac-turpis-egestas-integer-3 {
  margin-left: 4px;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: #525050;
}
.trang-ch-trc-khi-lgin .container-8 {
  margin: 3px 0 2px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 548.2px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-58 {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: -122px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 6.8px 8px 6px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .image-34 {
  border-radius: 2px;
  background: url('../assets/images/image32.png') 50% / cover no-repeat;
  margin-right: 17.9px;
  height: 100px;
  flex-grow: 1;
  flex-basis: 93px;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-facilisis-consequat-pretium-in-eu-pharetra-massa-pellentesque-habitant-morbi-tristique-senectus-et-netus-et-malesuada-fames-ac-turpis-egestas-integer-4 {
  position: relative;
  margin: 29px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: #525050;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-4 {
  position: absolute;
  left: 112.9px;
  top: 10px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-59 {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 7px;
  right: 6px;
  bottom: -244px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 16.5px 8px 5.9px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .frame-37 {
  opacity: 0.02;
  position: relative;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0 0 1px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container-3 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .new {
  background: rgba(214, 175, 205, 0.5);
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 17px 59px 17px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .about-us-2 {
  margin-left: 20.9px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 42px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .image-1 {
  background: url('../assets/images/image1.png') 50% / cover no-repeat;
  margin-bottom: 65px;
  width: 326px;
  height: 445px;
}
.trang-ch-trc-khi-lgin .image-2 {
  background: url('../assets/images/image2.png') 50% / cover no-repeat;
  margin: 65px 98px 0 0;
  width: 311px;
  height: 445px;
}
.trang-ch-trc-khi-lgin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-proin-suscipit-mi-ut-lectus-tristique-commodo-maecenas-blandit-condimentum-nunc-vitae-laoreet-lectus-iaculis-id-nunc-ut-felis-sit-amet-odio-ullamcorper-sollicitudin-quisque-consequat-ut-ipsum-et-facilisis-curabitur-ac-vestibulum-massa-proin-ut-quam-laoreet-viverra-lacus-et-elementum-neque-mauris-non-nibh-quis-arcu-volutpat-ullamcorper-sed-sed-felis-fusce-ornare-metus-eu-nulla-pellentesque-imperdiet-molestie-sapien-lobortis-etiam-mattis-egestas-dui-sit-amet-mollis-sapien-lacinia-id-vivamus-sit-amet-ornare-eros-vel-consequat-tellus {
  margin-bottom: 25px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.282;
  color: #525050;
}
.trang-ch-trc-khi-lgin .read-more {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 25px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-61 {
  border-radius: 5px;
  border: 2px solid #525050;
  position: relative;
  margin-left: 22.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 1px 15px 0;
  width: 180px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container-9 {
  margin: 39px 0 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container-6 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .about-us {
  opacity: 0.05;
  background: #FFFFFF;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 104.9px 35px 83px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-9061 {
  background: url('../assets/images/group9061.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.trang-ch-trc-khi-lgin .join-our-newsletter {
  position: relative;
  margin: 0 2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 52px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .get-the-freshest-pastricia-updates-and-offers-right-to-your-inbox-plus-enjoy-10-off-on-your-birthday-when-you-share-the-date-with-us {
  position: relative;
  margin-bottom: 42px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #525050;
}
.trang-ch-trc-khi-lgin .enter-your-email-address {
  margin-right: 19px;
  width: 680px;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 30px;
  color: #6C6C6C;
}
.trang-ch-trc-khi-lgin .vector-7 {
  width: 32.4px;
  height: 31.6px;
}
.trang-ch-trc-khi-lgin .material-symbolsarrow-forward-rounded {
  margin: 0.2px 0 6.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.4px;
  height: 31.6px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-12 {
  border-radius: 10px;
  border: 1px solid #7C7C7C;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 19.2px 18px 19.3px;
  width: 770px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .join-us {
  background: #D7D7D7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 143px 0;
  width: 1440px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .bp-flight-1768-x-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../assets/images/bpFlight1768X1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -33px;
  top: 0px;
  width: 1494px;
  height: 615px;
}
.trang-ch-trc-khi-lgin .ellipse-1 {
  position: relative;
  width: 165.5px;
  height: 165px;
}
.trang-ch-trc-khi-lgin .logo-no-background-2 {
  background: url('../assets/images/logoNoBackground2.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 11.7px;
  translate: -50% 0;
  width: 200px;
  height: 141px;
}
.trang-ch-trc-khi-lgin .logo {
  position: relative;
  margin-bottom: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding: 0 17.9px 0 16.6px;
  width: 200px;
  height: 165px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .careers {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-17 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .gift-cards {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-18 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .subscriptions {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-22 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .frame-15 {
  position: relative;
  margin: 0 214px 135px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .policy {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .general-policies-and-regulations {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-171 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .transaction-and-payment-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-181 {
  margin: 0 0.9px 23px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .return-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-191 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-20 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .shipping-policy {
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 19px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-221 {
  position: absolute;
  right: -153.5px;
  bottom: -225px;
  display: flex;
  flex-direction: column;
  width: 298.6px;
  height: 208px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .frame-17 {
  position: relative;
  margin: 128px 317.9px 305px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .have-aquestion {
  margin: 0 16.1px 14px 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-size: 36px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .were-always-here-to-lend-ahelping-hand {
  margin: 0 7px 27.5px 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Libre Caslon Text';
  font-weight: 500;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .vector {
  width: 24.5px;
  height: 22.2px;
}
.trang-ch-trc-khi-lgin .icround-home {
  margin: 0 13.7px 6.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24.5px;
  height: 22.2px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .district-7-ho-chi-minh-city {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-13 {
  margin: 0 14px 23.3px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .vector-1 {
  width: 17.5px;
  height: 29.3px;
}
.trang-ch-trc-khi-lgin .material-symbolsphone-android {
  margin-right: 14.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 17.5px;
  height: 29.3px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .container {
  margin: 3.7px 0 0.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 20px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-14 {
  margin: 0 3.5px 23.3px 3.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .vector-2 {
  width: 25px;
  height: 20px;
}
.trang-ch-trc-khi-lgin .material-symbolsmail {
  margin: 4px 12.5px 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .pastriciabakerygmail-com {
  overflow-wrap: break-word;
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-size: 21px;
  color: #525050;
}
.trang-ch-trc-khi-lgin .group-15 {
  margin-left: 0.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .group-16 {
  margin: 0 0 25px 2.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .line-27 {
  background: #525050;
  margin: 0 1.3px 17px 0;
  width: 304px;
  height: 1px;
}
.trang-ch-trc-khi-lgin .vector-6 {
  width: 48px;
  height: 45px;
}
.trang-ch-trc-khi-lgin .vector-3 {
  width: 48px;
  height: 45px;
}
.trang-ch-trc-khi-lgin .vector-4 {
  width: 48px;
  height: 45px;
}
.trang-ch-trc-khi-lgin .vector-5 {
  width: 48px;
  height: 45px;
}
.trang-ch-trc-khi-lgin .media {
  margin: 0 0.9px 0 3.3px;
  display: flex;
  flex-direction: row;
  column-gap: 36.3px;
  width: 301.1px;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .frame-16 {
  position: relative;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin .footer {
  background: #EEEEEE;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 58px 105.7px 79px 93px;
  width: fit-content;
  box-sizing: border-box;
}
.trang-ch-trc-khi-lgin {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
